*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/
.idea/
*.iml

android/app/build/
android/build/
android/.gradle/
android/key.properties
/android/local.properties
ios/build/
ios/Pods/
ios/Runner/Assets.xcassets/AppIcon.appiconset/
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/.symlinks/
*.app
.env
lib/generated_plugin_registrant.dart
