{
  "openapi": "3.0.0",
  "info": {
    "title": "KNEX Valet Client API",
    "version": "1.0.0",
    "description": "This API is designed for clients of the KNEX valet service. It provides endpoints for managing user profiles, vehicles, and valet tickets."
  },
  "servers": [
    {
      "url": "https://www.knex-app.xyz/api",
      "description": "Production API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A Firebase Authentication ID token must be provided as a Bearer token."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "An API key may be required for some endpoints."
      }
    },
    "schemas": {
      "UserClientProfile": {
        "type": "object",
        "description": "Represents a client's user profile.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the user profile. This is generated by the system and is read-only.",
            "example": "user_client_12345",
            "readOnly": true
          },
          "uid": {
            "type": "string",
            "description": "The Firebase Authentication user ID. This is read-only.",
            "example": "firebase_uid_67890",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The client's email address.",
            "example": "john.doe@example.com"
          },
          "firstName": {
            "type": "string",
            "description": "The client's first name.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The client's last name.",
            "example": "Doe"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The client's phone number.",
            "example": "+15551234567"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the profile was created. Read-only.",
            "example": "2023-01-15T12:00:00Z",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the profile was last updated. Read-only.",
            "example": "2023-01-16T10:30:00Z",
            "readOnly": true
          }
        },
        "required": ["email", "firstName", "lastName", "phoneNumber"]
      },
      "Vehicle": {
        "type": "object",
        "description": "Represents a client's vehicle information.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the vehicle. Read-only.",
            "example": "vehicle_12345",
            "readOnly": true
          },
          "user_client_id": {
            "type": "string",
            "description": "The ID of the client who owns the vehicle.",
            "example": "user_client_12345"
          },
          "vehicle_make": {
            "type": "string",
            "description": "The make of the vehicle.",
            "example": "Toyota"
          },
          "vehicle_model": {
            "type": "string",
            "description": "The model of the vehicle.",
            "example": "Camry"
          },
          "vehicle_year": {
            "type": "string",
            "description": "The year of the vehicle.",
            "example": "2022"
          },
          "license_plate": {
            "type": "string",
            "description": "The vehicle's license plate number.",
            "example": "123-ABC"
          },
          "color": {
            "type": "string",
            "description": "The color of the vehicle.",
            "example": "Blue"
          },
          "vin": {
            "type": "string",
            "description": "The Vehicle Identification Number (VIN).",
            "example": "1A2B3C4D5E6F7G8H9"
          }
        },
        "required": ["user_client_id", "vehicle_make", "vehicle_model", "license_plate", "color"]
      },
       "VehicleCreation": {
        "type": "object",
        "description": "Represents the data needed to create a vehicle.",
        "properties": {
          "vehicle_make": {
            "type": "string",
            "description": "The make of the vehicle.",
            "example": "Toyota"
          },
          "vehicle_model": {
            "type": "string",
            "description": "The model of the vehicle.",
            "example": "Camry"
          },
          "vehicle_year": {
            "type": "string",
            "description": "The year of the vehicle.",
            "example": "2022"
          },
          "license_plate": {
            "type": "string",
            "description": "The vehicle's license plate number.",
            "example": "123-ABC"
          },
          "color": {
            "type": "string",
            "description": "The color of the vehicle.",
            "example": "Blue"
          },
          "vin": {
            "type": "string",
            "description": "The Vehicle Identification Number (VIN).",
            "example": "1A2B3C4D5E6F7G8H9"
          }
        },
        "required": ["vehicle_make", "vehicle_model", "license_plate", "color"]
      },
      "Ticket": {
        "type": "object",
        "description": "Represents a valet ticket.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the ticket. Read-only.",
            "example": "ticket_12345",
            "readOnly": true
          },
          "ticket_number": {
            "type": "string",
            "description": "The human-readable ticket number. Read-only.",
            "example": "A-101",
            "readOnly": true
          },
          "user_client_id": {
            "type": "string",
            "description": "The ID of the client associated with the ticket.",
            "example": "user_client_12345"
          },
          "vehicle_id": {
            "type": "string",
            "description": "The ID of the vehicle associated with the ticket.",
            "example": "vehicle_67890"
          },
          "status": {
            "type": "string",
            "description": "The current status of the ticket.",
            "enum": ["PARKED", "REQUESTED", "IN_TRANSIT", "RETURNED", "CANCELED"],
            "example": "PARKED"
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the location where the ticket was issued.",
            "example": "location_123"
          },
          "notes": {
            "type": "string",
            "description": "Any notes related to the ticket.",
            "example": "Vehicle has a scratch on the rear bumper."
          },
          "pin": {
            "type": "string",
            "description": "The PIN for a provisional ticket.",
            "example": "123456"
          }
        },
        "required": ["ticket_number", "user_client_id", "vehicle_id", "status", "location_id"]
      },
      "ProvisionalTicket": {
        "type": "object",
        "description": "Represents a provisional valet ticket for users without an account.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the ticket. Read-only.",
            "example": "ticket_prov_12345",
            "readOnly": true
          },
          "pin": {
            "type": "string",
            "description": "A temporary PIN for the user to access their ticket information.",
            "example": "123456",
            "readOnly": true
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the location where the ticket was issued.",
            "example": "location_123"
          },
           "vehicle": {
              "$ref": "#/components/schemas/VehicleCreation"
            }
        },
        "required": ["location_id", "vehicle"]
      },
      "CrudResult": {
        "type": "object",
        "description": "Standard response for create, update, and delete operations.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "object",
            "description": "The created or updated object.",
            "example": {
              "id": "user_client_12345",
              "email": "john.doe@example.com"
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "description": "Represents the status of an operation.",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["VALID", "INVALID", "CREATED", "UPDATED", "DELETED"],
            "description": "The status of the operation.",
            "example": "CREATED"
          },
          "result": {
            "type": "string",
            "description": "A more detailed result of the operation.",
            "example": "Doc user_client_12345 created."
          },
          "message": {
            "type": "string",
            "description": "A human-readable message about the operation.",
            "example": "User profile created successfully."
          }
        }
      },
      "Location": {
        "type": "object",
        "description": "Represents a valet location.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the location.",
            "example": "fpyOo8sHXzMvTvDZyyJR"
          },
          "name": {
            "type": "string",
            "description": "The name of the location.",
            "example": "Downtown Garage"
          },
          "address": {
            "type": "string",
            "description": "The address of the location.",
            "example": "100 City Center"
          }
        }
      }
    }
  },
  "paths": {
    "/createUserClient": {
      "post": {
        "summary": "Create a new client profile",
        "description": "This endpoint allows a new client to create their user profile.",
        "operationId": "createUserClient",
        "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
        "requestBody": {
          "description": "The client's profile information.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication ID token for the new user."
                  },
                  "data": {
                    "$ref": "#/components/schemas/UserClientProfile"
                  }
                },
                "required": ["idToken", "data"]
              },
              "examples": {
                "new_client": {
                  "value": {
                    "idToken": "your_firebase_id_token",
                    "data": {
                      "email": "jane.doe@example.com",
                      "firstName": "Jane",
                      "lastName": "Doe",
                      "phoneNumber": "+15557654321"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client profile created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrudResult"
                }
              }
            }
          },
          "400": {"description": "Bad Request - Invalid data provided."},
          "401": {"description": "Unauthorized - Invalid or missing authentication token."},
          "500": {"description": "Internal Server Error."}
        }
      }
    },
    "/getUserClient": {
      "post": {
        "summary": "Get client profile",
        "description": "Retrieves the profile of the currently authenticated client.",
        "operationId": "getUserClient",
        "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication ID token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the user to retrieve. Should match the authenticated user."
                      }
                    },
                    "required": ["id"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the client profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserClientProfile"
                }
              }
            }
          },
          "401": {"description": "Unauthorized - Invalid or missing authentication token."},
          "404": {"description": "Not Found - Client profile not found."},
          "500": {"description": "Internal Server Error."}
        }
      }
    },
        "/updateUserClient": {
          "post": {
            "summary": "Update client profile",
            "description": "Updates the profile of the currently authenticated client.",
            "operationId": "updateUserClient",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The updated client profile information.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "$ref": "#/components/schemas/UserClientProfile"
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "update_phone": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "id": "user_client_12345",
                          "phoneNumber": "+15551112222"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Client profile updated successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/searchUserClient": {
          "post": {
            "summary": "Search for a client profile",
            "description": "Searches for a client profile based on search criteria. In a client-facing API, this would typically be restricted to searching for one's own profile.",
            "operationId": "searchUserClient",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "Search criteria for finding a client.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "searchCriteria": {
                            "type": "object",
                            "description": "The criteria to search for a client. Can be 'id' or 'email'.",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "id": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "search_by_email": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "searchCriteria": {
                            "email": "jane.doe@example.com"
                          }
                        }
                      }
                    },
                    "search_by_id": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "searchCriteria": {
                            "id": "user_client_12345"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "An array of client profiles matching the search criteria.",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserClientProfile"
                      }
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/deleteUserClient": {
          "post": {
            "summary": "Delete a client profile",
            "description": "Allows a client to delete their own user profile.",
            "operationId": "deleteUserClient",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The ID of the client profile to delete.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the client profile to delete."
                          }
                        },
                        "required": ["id"]
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "delete_user": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "id": "user_client_12345"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Client profile deleted successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "404": {"description": "Not Found - Client profile not found."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/listUserClients": {
          "post": {
            "summary": "List client profiles",
            "description": "Retrieves a list of client profiles. In a client-facing API, this would typically be restricted to the client's own data.",
            "operationId": "listUserClients",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object"
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "A list of client profiles.",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserClientProfile"
                      }
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/createVehicle": {
          "post": {
            "summary": "Create a new vehicle",
            "description": "Adds a new vehicle to the authenticated client's profile.",
            "operationId": "createVehicle",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The vehicle's information.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "$ref": "#/components/schemas/VehicleCreation"
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Vehicle created successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/listVehicles": {
          "post": {
            "summary": "List vehicles",
            "description": "Retrieves a list of vehicles for the authenticated client.",
            "operationId": "listVehicles",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      }
                    },
                    "required": ["idToken"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "A list of vehicles.",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/getVehicle": {
          "post": {
            "summary": "Get vehicle details",
            "description": "Retrieves the details of a specific vehicle.",
            "operationId": "getVehicle",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the vehicle to retrieve."
                          }
                        },
                        "required": ["id"]
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Successful retrieval of vehicle details.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/Vehicle"
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "404": {"description": "Not Found - Vehicle not found."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/updateVehicle": {
          "post": {
            "summary": "Update vehicle details",
            "description": "Updates the details of a specific vehicle.",
            "operationId": "updateVehicle",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Vehicle updated successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/deleteVehicle": {
          "post": {
            "summary": "Delete a vehicle",
            "description": "Deletes a vehicle from the client's profile.",
            "operationId": "deleteVehicle",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the vehicle to delete."
                          }
                        },
                        "required": ["id"]
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Vehicle deleted successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "404": {"description": "Not Found - Vehicle not found."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/createProvisionalTicket": {
          "post": {
            "summary": "Create a provisional ticket",
            "description": "Creates a temporary ticket for a user without an account. The response includes a PIN for the user to access their ticket.",
            "operationId": "createProvisionalTicket",
            "security": [{"ApiKeyAuth": []}],
            "requestBody": {
              "description": "Details for the provisional ticket.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/components/schemas/ProvisionalTicket"
                      }
                    },
                    "required": ["data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Provisional ticket created successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/ProvisionalTicket"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/linkUserClientToTicketByProvisionalPIN": {
          "post": {
            "summary": "Link a provisional ticket to a client account",
            "description": "Associates a provisional ticket with a client's account using the PIN.",
            "operationId": "linkUserClientToTicketByProvisionalPIN",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The PIN of the provisional ticket to link.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "pin": {
                            "type": "string"
                          }
                        },
                        "required": ["pin"]
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Ticket linked successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid PIN or ticket already linked."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "404": {"description": "Not Found - Provisional ticket not found."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/setToDepartureCasual": {
          "post": {
            "summary": "Request vehicle for departure (casual user)",
            "description": "Allows a casual user to request their vehicle for departure using their ticket PIN.",
            "operationId": "setToDepartureCasual",
            "security": [{"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The PIN of the ticket for the vehicle to be prepared for departure.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "pin": {
                            "type": "string"
                          }
                        },
                        "required": ["pin"]
                      }
                    },
                    "required": ["data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Vehicle requested for departure successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid PIN provided."},
              "404": {"description": "Not Found - Ticket not found."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/setToDeparture": {
          "post": {
            "summary": "Request vehicle for departure",
            "description": "Allows a client to request their vehicle for departure.",
            "operationId": "setToDeparture",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The ID of the ticket for the vehicle to be prepared for departure.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ticketId": {
                            "type": "string"
                          }
                        },
                        "required": ["ticketId"]
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "request_departure": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "ticketId": "ticket_12345"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Vehicle requested for departure successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/setToCancelForClient": {
          "post": {
            "summary": "Cancel a ticket",
            "description": "Allows a client to cancel their valet service request.",
            "operationId": "setToCancelForClient",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The ID of the ticket to cancel.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ticketId": {
                            "type": "string"
                          }
                        },
                        "required": ["ticketId"]
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "cancel_ticket": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "ticketId": "ticket_12345"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Ticket canceled successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/setTicketTip": {
          "post": {
            "summary": "Add a tip to a ticket",
            "description": "Allows a client to add a tip to their valet ticket.",
            "operationId": "setTicketTip",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The ID of the ticket and the tip amount.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ticketId": {
                            "type": "string"
                          },
                          "tip": {
                            "type": "number"
                          }
                        },
                        "required": ["ticketId", "tip"]
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "add_tip": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "ticketId": "ticket_12345",
                          "tip": 5.00
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Tip added successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/setTicketStatus": {
          "post": {
            "summary": "Update ticket status",
            "description": "Allows a client to update the status of their ticket, for example, to request their vehicle.",
            "operationId": "setTicketStatus",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The ID of the ticket and the new status.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ticketId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": ["ticketId", "status"]
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "request_vehicle": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "ticketId": "ticket_12345",
                          "status": "REQUESTED"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Ticket status updated successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/getTicketList": {
          "post": {
            "summary": "Get a list of tickets",
            "description": "Retrieves a list of the client's valet tickets.",
            "operationId": "getTicketList",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object"
                      }
                    },
                    "required": ["idToken", "data"]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "A list of the client's tickets.",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ticket"
                      }
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/getTicketByPIN": {
          "post": {
            "summary": "Get ticket by PIN",
            "description": "Retrieves a client's ticket information using a PIN.",
            "operationId": "getTicketByPIN",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "The PIN for the ticket to retrieve.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "pin": {
                            "type": "string"
                          }
                        },
                        "required": ["pin"]
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "get_by_pin": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "pin": "123456"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Ticket retrieved successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "404": {"description": "Not Found - Ticket not found."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/getLocations": {
          "post": {
            "summary": "Get all valet locations",
            "description": "Retrieves a list of all available valet locations.",
            "operationId": "getLocations",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "A list of valet locations.",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    }
                  }
                }
              },
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        },
        "/createTicket": {
          "post": {
            "summary": "Create a new valet ticket",
            "description": "Allows a client to create a new valet ticket to request valet service for their vehicle.",
            "operationId": "createTicket",
            "security": [{"bearerAuth": []}, {"ApiKeyAuth": []}],
            "requestBody": {
              "description": "Details for the new ticket.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idToken": {
                        "type": "string",
                        "description": "Firebase authentication ID token."
                      },
                      "data": {
                        "$ref": "#/components/schemas/Ticket"
                      }
                    },
                    "required": ["idToken", "data"]
                  },
                  "examples": {
                    "new_ticket": {
                      "value": {
                        "idToken": "your_firebase_id_token",
                        "data": {
                          "vehicle_id": "vehicle_67890",
                          "location_id": "location_123"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Ticket created successfully.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/CrudResult"
                    }
                  }
                }
              },
              "400": {"description": "Bad Request - Invalid data provided."},
              "401": {"description": "Unauthorized - Invalid or missing authentication token."},
              "500": {"description": "Internal Server Error."}
            }
          }
        }
      }
    }
  }
}
    