{
  "openapi": "3.0.0",
  "info": {
    "title": "KNEX Valet Dashboard API (Generated)",
    "version": "2.0.0",
    "description": "This is a dynamically generated OpenAPI specification, built from the backend's source schemas and endpoint definitions. It represents the complete API surface."
  },
  "servers": [
    {
      "url": "https://www.knex-app.xyz/api",
      "description": "Production API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AdminRegistration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the registration",
            "example": "123e4567-e89b-12d3-a456-426614174000",
            "x-label": "Registration ID",
            "x-description": {
              "en": "Unique identifier for the registration"
            },
            "show": false
          },
          "companyName": {
            "type": "string",
            "description": "Name of the company",
            "example": "Acme Corporation",
            "x-label": "Company Name",
            "x-description": {
              "en": "Name of the company"
            },
            "show": false
          },
          "contactName": {
            "type": "string",
            "description": "Name of the contact person",
            "example": "John Doe",
            "x-label": "Contact Name",
            "x-description": {
              "en": "Name of the contact person"
            },
            "show": false
          },
          "countryCode": {
            "type": "string",
            "description": "Country code for phone number",
            "example": "+1",
            "x-label": "Country Code",
            "x-description": {
              "en": "Country code for phone number"
            },
            "show": false
          },
          "phone": {
            "type": "string",
            "description": "Phone number",
            "example": "1234567890",
            "x-label": "Phone",
            "x-description": {
              "en": "Phone number"
            },
            "show": false
          },
          "address": {
            "type": "string",
            "description": "Company address",
            "example": "123 Main St, Anytown, USA",
            "x-label": "Address",
            "x-description": {
              "en": "Company address"
            },
            "show": false
          },
          "billingAddress": {
            "type": "string",
            "description": "Billing address if different from company address",
            "example": "456 Billing Ave, Billtown, USA",
            "x-label": "Billing Address",
            "x-description": {
              "en": "Billing address if different from company address"
            },
            "show": false
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address for registration",
            "example": "johndoe@example.com",
            "x-label": "Email",
            "x-description": {
              "en": "Email address for registration"
            },
            "show": false
          }
        },
        "required": [
          "id",
          "companyName",
          "contactName",
          "phone",
          "address",
          "email"
        ],
        "description": "Admin registration information",
        "x-description-i18n": {
          "en": "Admin registration information"
        },
        "menu": false
      },
      "AttendantCreation": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "companyId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "MANAGER",
              "ATTENDANT"
            ],
            "default": "ATTENDANT"
          }
        },
        "required": [
          "firstname",
          "lastname",
          "email",
          "password",
          "companyId",
          "role"
        ]
      },
      "Client": {
        "type": "object",
        "properties": {
          "personalData": {
            "type": "string",
            "description": "Personal data of the client",
            "x-label": "PersonalData",
            "x-description": {
              "en": "Personal data of the client"
            },
            "show": true
          },
          "status": {
            "type": "string",
            "description": "Client status",
            "x-label": "Status",
            "x-description": {
              "en": "Client status"
            },
            "show": true
          }
        },
        "required": [
          "personalData",
          "status"
        ],
        "description": "Client information",
        "x-description-i18n": {
          "en": "Client information"
        },
        "menu": false
      },
      "ClientCreation": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        },
        "required": [
          "firstname",
          "lastname",
          "phone"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "show": false
          },
          "name": {
            "type": "string",
            "x-label": "Company Name",
            "show": true
          },
          "address": {
            "type": "string",
            "format": "textarea",
            "x-label": "Company Address",
            "show": true
          },
          "phone": {
            "type": "string",
            "x-label": "Company Phone",
            "show": true
          },
          "schedules": {
            "type": "object",
            "show": false
          },
          "owner": {
            "type": "reference",
            "description": "A reference to the User who owns the company.",
            "model": "User"
          },
          "locations": {
            "type": "array",
            "description": "An array of references to Location documents owned by this company.",
            "items": {
              "type": "reference",
              "model": "Location"
            }
          }
        }
      },
      "CompanyRole": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "enum": [
              "BUSINESS_OWNER",
              "ADMIN",
              "ATTENDANT",
              "CLIENT"
            ]
          }
        },
        "required": [
          "name"
        ]
      },
      "CrudResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The resulting data object after the operation."
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "ErrorData": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "GPSCoordinates": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "float",
            "description": "Latitude coordinate",
            "x-label": "Latitude",
            "x-description": {
              "en": "Latitude coordinate"
            },
            "show": false
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "description": "Longitude coordinate",
            "x-label": "Longitude",
            "x-description": {
              "en": "Longitude coordinate"
            },
            "show": false
          }
        },
        "required": [
          "latitude",
          "longitude"
        ],
        "description": "GPS coordinates",
        "x-description-i18n": {
          "en": "GPS coordinates"
        },
        "menu": false
      },
      "Location": {
        "name": "Location",
        "description": "Represents a physical location or venue where valet services are offered.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the location.",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of the location, e.g., 'Main Garage' or 'Lot B'.",
            "required": true
          },
          "address": {
            "type": "string",
            "description": "The physical street address of the location."
          },
          "companyId": {
            "type": "string",
            "description": "The ID of the company that owns this location."
          },
          "company": {
            "type": "reference",
            "description": "A reference to the Company that owns this location.",
            "model": "Company",
            "required": true
          },
          "attendants": {
            "type": "array",
            "description": "An array of references to UserAttendant documents for attendants working at this location.",
            "items": {
              "type": "reference",
              "model": "UserAttendant"
            }
          }
        }
      },
      "LockerSpace": {
        "type": "object",
        "properties": {
          "lockerId": {
            "type": "string",
            "description": "Unique identifier for the locker space",
            "x-label": "Locker ID",
            "show": true
          },
          "contentsDescription": {
            "type": "string",
            "description": "Description of the contents stored (e.g., Ticket number, Key description).",
            "x-label": "Contents Description",
            "nullable": true,
            "show": true
          },
          "parkingmap_id": {
            "type": "string",
            "description": "ID of the parent map/location.",
            "show": false
          }
        },
        "required": [
          "lockerId",
          "parkingmap_id"
        ],
        "description": "Represents a single locker space for keys.",
        "menu": false
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          },
          "read": {
            "type": "boolean"
          }
        }
      },
      "Notes": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          },
          "author": {
            "type": "string"
          }
        }
      },
      "PIN": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the PIN record. Read-only.",
            "readOnly": true,
            "x-label": "ID",
            "x-description": {
              "en": "Unique identifier for the PIN record."
            },
            "show": false
          },
          "user": {
            "description": "User (Client or Attendant) associated with this PIN.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/UserClient"
              },
              {
                "$ref": "#/components/schemas/UserAttendant"
              }
            ],
            "x-label": "Associated User"
          },
          "role": {
            "type": "string",
            "description": "Role of the user associated with the PIN (e.g., 'UserClient', 'UserAttendant'). Read-only.",
            "readOnly": true,
            "x-label": "Role",
            "x-description": {
              "en": "Role associated with the PIN."
            },
            "show": false
          },
          "pin": {
            "type": "string",
            "description": "The PIN code itself. Read-only.",
            "readOnly": true,
            "x-label": "PIN",
            "x-description": {
              "en": "The PIN code."
            },
            "show": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp. Read-only.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp. Read-only.",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "user",
          "role",
          "pin"
        ],
        "description": "Represents a generated PIN record for user identification.",
        "x-description-i18n": {
          "en": "PIN information for authentication."
        },
        "menu": false
      },
      "ParkingMap": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Primary Key",
            "x-label": "ID",
            "readOnly": true,
            "x-description": {
              "en": "Unique identifier for the parking map"
            },
            "show": false
          },
          "name": {
            "type": "string",
            "description": "Name of the parking map.",
            "x-label": "Name",
            "show": true
          },
          "site": {
            "$ref": "#/components/schemas/Site",
            "description": "The site this parking map belongs to.",
            "x-label": "Site",
            "show": true
          },
          "parkingSpaces": {
            "type": "array",
            "description": "List of parking physical spaces available on this map.",
            "items": {
              "$ref": "#/components/schemas/ParkingSpace"
            },
            "show": true
          },
          "lockerSpaces": {
            "type": "array",
            "description": "List of locker physical spaces available on this map.",
            "items": {
              "$ref": "#/components/schemas/LockerSpace"
            },
            "x-description": {
              "en": "List of locker physical spaces for keys"
            },
            "show": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp. Read-only.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp. Read-only.",
            "readOnly": true
          }
        },
        "required": [
          "name",
          "site",
          "parkingSpaces",
          "lockerSpaces"
        ],
        "description": "Represents a parking map for a site, detailing spaces for vehicles and lockers for keys.",
        "x-description-i18n": {
          "en": "Detailed map of parking and locker spaces at a site."
        },
        "menu": true
      },
      "ParkingSpace": {
        "type": "object",
        "properties": {
          "spaceId": {
            "type": "string",
            "description": "Unique identifier for the parking space",
            "x-label": "Space ID",
            "show": true
          },
          "isOccupied": {
            "type": "boolean",
            "description": "Indicates whether the parking space is currently occupied",
            "x-label": "Is Occupied",
            "show": true
          },
          "vehicleId": {
            "type": "string",
            "description": "ID of the vehicle occupying the parking space, if any",
            "x-label": "Vehicle ID",
            "nullable": true,
            "show": true
          },
          "parkingmap_id": {
            "type": "string",
            "description": "ID of the parent parking map.",
            "show": false
          }
        },
        "required": [
          "spaceId",
          "isOccupied",
          "parkingmap_id"
        ],
        "description": "Represents a single parking space within a map/location.",
        "menu": false
      },
      "ReduceResponse": {
        "type": "object",
        "properties": {
          "reducedValue": {
            "type": "array",
            "description": "An array of the distinct values found for the specified property.",
            "items": {}
          },
          "length": {
            "type": "integer",
            "description": "The total number of documents that matched the search criteria before reduction."
          }
        },
        "description": "Response from the /reduce endpoint."
      },
      "ReviewMetrics": {
        "type": "object",
        "show": false,
        "menu": false,
        "properties": {
          "attendant_id": {
            "type": "string",
            "description": "Primary Key, Foreign Key to UserAttendant",
            "x-label": "attendant_id"
          },
          "avg_rating": {
            "type": "number",
            "format": "float",
            "description": "Calculated average rating.",
            "x-label": "avg_rating"
          },
          "total_reviews": {
            "type": "integer",
            "description": "Total number of reviews received.",
            "x-label": "total_reviews"
          },
          "five_star_count": {
            "type": "integer",
            "x-label": "five_star_count"
          },
          "four_star_count": {
            "type": "integer",
            "x-label": "four_star_count"
          },
          "three_star_count": {
            "type": "integer",
            "x-label": "three_star_count"
          },
          "two_star_count": {
            "type": "integer",
            "x-label": "two_star_count"
          },
          "one_star_count": {
            "type": "integer",
            "x-label": "one_star_count"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when metrics were last updated.",
            "x-label": "last_updated"
          }
        },
        "required": [
          "attendant_id"
        ],
        "description": "Aggregated review metrics for an attendant.",
        "x-description-i18n": {
          "en": "ReviewMetrics information"
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "VALID",
              "INVALID",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "description": "Status of the operation."
          },
          "result": {
            "type": "string",
            "description": "Result of the operation."
          },
          "message": {
            "type": "string",
            "description": "Additional message."
          }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the ticket. Read-only.",
            "readOnly": true,
            "x-label": "ID",
            "x-description": {
              "en": "Unique identifier for the ticket"
            },
            "show": false
          },
          "ticket_number": {
            "type": "string",
            "description": "Ticket number (potentially human-readable). Read-only.",
            "readOnly": true,
            "x-label": "Ticket Number",
            "x-description": {
              "en": "Ticket number"
            },
            "show": true
          },
          "user_client": {
            "type": "reference",
            "model": "UserClient",
            "$ref": "#/components/schemas/UserClient",
            "description": "Client associated with the ticket. Optional if provisional.",
            "nullable": true,
            "x-label": "User Client",
            "x-description": {
              "en": "Client associated with the ticket"
            },
            "identifyBy": "email"
          },
          "user_attendant": {
            "type": "reference",
            "model": "UserAttendant",
            "$ref": "#/components/schemas/UserAttendant",
            "description": "Attendant currently handling or assigned to the ticket. Optional.",
            "nullable": true,
            "x-label": "Attendant",
            "x-description": {
              "en": "Attendant handling the ticket"
            }
          },
          "vehicle": {
            "type": "reference",
            "model": "VehicleData",
            "$ref": "#/components/schemas/VehicleData",
            "description": "Vehicle related to the ticket.",
            "x-label": "Vehicle",
            "x-description": {
              "en": "Vehicle related to the ticket"
            }
          },
          "location": {
            "type": "reference",
            "description": "A reference to the Location where the ticket was issued.",
            "model": "Location"
          },
          "notes": {
            "type": "string",
            "description": "Internal notes about the ticket."
          }
        },
        "required": [
          "ticket_number",
          "status",
          "companyId"
        ]
      },
      "TipTransaction": {
        "type": "object",
        "show": false,
        "menu": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "Primary Key",
            "x-label": "id"
          },
          "ticket_id": {
            "type": "string",
            "description": "Foreign Key to Ticket",
            "x-label": "ticket_id"
          },
          "attendant_id": {
            "type": "string",
            "description": "Foreign Key to UserAttendant",
            "x-label": "attendant_id"
          },
          "client_id": {
            "type": "string",
            "description": "Foreign Key to UserClient",
            "x-label": "client_id"
          },
          "stripe_payment_intent_id": {
            "type": "string",
            "x-label": "stripe_payment_intent_id"
          },
          "payment_method_id": {
            "type": "string",
            "description": "Identifier for the payment method used.",
            "x-label": "payment_method_id"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Amount of the tip.",
            "x-label": "amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD).",
            "x-label": "currency"
          },
          "status": {
            "type": "string",
            "description": "Status of the payment (e.g., succeeded, pending, failed).",
            "x-label": "status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "x-label": "created_at"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "x-label": "updated_at"
          }
        },
        "required": [
          "id",
          "ticket_id",
          "attendant_id",
          "client_id",
          "stripe_payment_intent_id",
          "amount",
          "currency",
          "status"
        ],
        "description": "Records a tip transaction.",
        "x-description-i18n": {
          "en": "TipTransaction information"
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "show": false
          },
          "email": {
            "type": "string",
            "format": "email",
            "show": true
          },
          "uid": {
            "type": "string",
            "description": "Firebase Authentication user ID.",
            "readOnly": true,
            "show": false
          },
          "firstName": {
            "type": "string",
            "x-label": "First Name",
            "show": true
          },
          "lastName": {
            "type": "string",
            "x-label": "Last Name",
            "show": true
          },
          "phoneNumber": {
            "type": "string",
            "show": true
          },
          "role": {
            "type": "string",
            "enum": [
              "BUSINESS_OWNER",
              "ADMIN",
              "ATTENDANT"
            ],
            "show": true
          },
          "companyId": {
            "type": "string",
            "description": "ID of the company this user belongs to.",
            "show": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "show": false
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "show": false
          }
        },
        "required": [
          "email",
          "firstName",
          "lastName",
          "role",
          "companyId"
        ],
        "x-label": "System Users",
        "menu": true
      },
      "UserAttendant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the attendant (usually generated). Read-only.",
            "x-label": "ID",
            "readOnly": true,
            "x-description": {
              "en": "Unique identifier for the attendant"
            },
            "show": false
          },
          "user": {
            "type": "reference",
            "description": "A reference to the User document for this attendant.",
            "model": "User",
            "required": true
          },
          "location": {
            "type": "reference",
            "description": "A reference to the Location where this attendant is assigned.",
            "model": "Location"
          }
        }
      },
      "UserClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "VehicleData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the vehicle record (usually generated). Read-only.",
            "x-label": "ID",
            "readOnly": true,
            "x-description": {
              "en": "Unique identifier for the vehicle"
            },
            "show": false
          },
          "user_client": {
            "description": "Reference to the UserClient who owns the vehicle.",
            "$ref": "#/components/schemas/UserClient",
            "x-label": "User Client",
            "x-description": {
              "en": "User Client associated with the vehicle"
            },
            "show": true
          },
          "vehicle_make": {
            "type": "string",
            "description": "Make of the vehicle (e.g., Toyota, Ford).",
            "x-label": "Vehicle Make",
            "x-description": {
              "en": "Vehicle make"
            },
            "show": true
          },
          "vehicle_model": {
            "type": "string",
            "description": "Model of the vehicle (e.g., Camry, F-150).",
            "x-label": "Vehicle Model",
            "x-description": {
              "en": "Vehicle model"
            },
            "show": true
          },
          "vehicle_year": {
            "type": "string",
            "description": "Year of the vehicle (e.g., '2023').",
            "x-label": "Vehicle Year",
            "x-description": {
              "en": "Vehicle year"
            },
            "show": true
          },
          "license_plate": {
            "type": "string",
            "description": "License plate number.",
            "x-label": "License Plate",
            "x-description": {
              "en": "License plate number"
            },
            "show": true
          },
          "color": {
            "type": "string",
            "description": "Color of the vehicle.",
            "x-label": "Color",
            "x-description": {
              "en": "Color of the vehicle"
            },
            "show": true
          },
          "vin": {
            "type": "string",
            "description": "Vehicle Identification Number (VIN). Optional.",
            "x-label": "VIN",
            "x-description": {
              "en": "Vehicle Identification Number (VIN)"
            },
            "show": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp. Read-only.",
            "readOnly": true,
            "x-label": "Created At",
            "x-description": {
              "en": "Creation timestamp"
            },
            "show": false
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp. Read-only.",
            "readOnly": true,
            "x-label": "Updated At",
            "x-description": {
              "en": "Last update timestamp"
            },
            "show": false
          }
        },
        "required": [
          "user_client",
          "vehicle_make",
          "vehicle_model",
          "license_plate",
          "color"
        ],
        "description": "Represents a client's vehicle information.",
        "x-description-i18n": {
          "en": "Vehicle data information"
        },
        "menu": false
      }
    }
  },
  "paths": {
    "/backfillCompanyId": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "backfillCompanyId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/confirmPayment": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "confirmPaymentIntent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/createAttendant": {
      "post": {
        "summary": "Creates an attendant by linking an existing User to a Location.",
        "description": "This endpoint creates an instance of the UserAttendant model, which represents an attendant assignment. It links an existing User (who has the ATTENDANT role) to a Location where they will work. Both the User and Location must already exist in the system. The UserAttendant model stores references to both the User and Location. This is an alias for the registerAttendant functionality. Use /createUser first to create the User with ATTENDANT role, then use this endpoint to assign them to a specific location.",
        "operationId": "createAttendant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token of the administrator creating the attendant assignment. This token is used to verify the admin's identity and ensure they have permission to create attendant assignments. The token is obtained from Firebase Authentication after the admin logs in.",
                    "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload containing search criteria to find the User and Location to link together.",
                    "properties": {
                      "user": {
                        "type": "object",
                        "description": "Search criteria to find an existing User. You can provide any unique property like 'id' or 'email'. Keys must be valid properties of the User model. The first matching User will be used.",
                        "example": {
                          "email": "attendant@example.com"
                        },
                        "additionalProperties": true
                      },
                      "location": {
                        "type": "object",
                        "description": "Search criteria to find an existing Location. You can provide any unique property like 'id' or 'name'. Keys must be valid properties of the Location model. The first matching Location will be used.",
                        "example": {
                          "id": "loc_parking_lot_456"
                        },
                        "additionalProperties": true
                      }
                    },
                    "required": [
                      "user",
                      "location"
                    ]
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UserAttendant instance successfully created. The attendant has been assigned to the specified location.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attendant": {
                      "description": "The newly created UserAttendant instance. This object represents the assignment of an attendant (User) to a specific Location. It contains an auto-generated ID and references to both the User and Location documents.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Auto-generated unique identifier for this UserAttendant instance.",
                          "example": "attendant_xyz789"
                        },
                        "user": {
                          "type": "object",
                          "description": "Reference to the User document representing the attendant.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The ID of the User document.",
                              "example": "user_abc123xyz"
                            }
                          }
                        },
                        "location": {
                          "type": "object",
                          "description": "Reference to the Location document where the attendant is assigned.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The ID of the Location document.",
                              "example": "loc_parking_lot_456"
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when this attendant assignment was created.",
                          "example": "2025-11-28T20:58:00Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when this attendant assignment was last updated.",
                          "example": "2025-11-28T20:58:00Z"
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "Email of the administrator who created this assignment.",
                          "example": "admin@company.com"
                        }
                      }
                    }
                  },
                  "required": [
                    "attendant"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required fields, Invalid search properties, User/Location not found, or relationship already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Detailed error message explaining what went wrong.",
                      "examples": [
                        "User criteria object is required to find the user.",
                        "Location criteria object is required to find the location.",
                        "Invalid search properties for User: invalidProp. Valid properties are: id, email, firstName...",
                        "Invalid search properties for Location: invalidProp. Valid properties are: id, name, address...",
                        "User not found matching criteria: {\"email\":\"unknown@example.com\"}",
                        "Location not found matching criteria: {\"name\":\"Unknown Lot\"}",
                        "Failed to create attendant relationship: Duplicate entry"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Authentication error message.",
                      "examples": [
                        "Authentication token (idToken) is required.",
                        "Token verification failed: invalid token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Valid token but insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Permission error message.",
                      "example": "Invalid token or missing email."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server-side error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Internal error message.",
                      "example": "Internal Server Error: Firestore connection failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createCompanyAndUpdateProfile": {
      "post": {
        "summary": "Onboarding endpoint for BUSINESS_OWNER users to create their company profile.",
        "description": "This endpoint allows new BUSINESS_OWNER users to complete their registration by creating both a Company and User document in Firestore. This endpoint uses lightweight authentication (only verifies Firebase Auth token, does not require User document to exist). This is the first API call a new BUSINESS_OWNER makes after self-registering via Firebase Auth. After this endpoint succeeds, all subsequent API calls will work normally as the user now exists in the User collection.",
        "operationId": "createCompanyAndUpdateProfile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/createLocation": {
      "post": {
        "summary": "Creates a new physical location for a company.",
        "description": "",
        "operationId": "createLocation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the location."
                      },
                      "address": {
                        "type": "string",
                        "description": "The physical address of the location."
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrudResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/createProvisionalTicket": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "createProvisionalTicket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/createTicket": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "createTicket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/createTicketForAttendant": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "createTicketForAttendant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/createUser": {
      "post": {
        "summary": "Pre-registers a user in the system by creating a User document in Firestore.",
        "description": "This endpoint creates a User document in Firestore to pre-register a user in the system. It does NOT create a Firebase Authentication account - users self-register via Firebase Auth sign-in form. For ATTENDANT role, this pre-registration is required before the user can access API endpoints after authenticating via Firebase. The new user is automatically assigned to the same company as the administrator creating them. This endpoint is designed for administrators to pre-authorize ATTENDANT users or create ADMIN users.",
        "operationId": "createUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token of the administrator creating the user. This token is used to verify the admin's identity and extract their company association."
                  },
                  "data": {
                    "type": "object",
                    "description": "User data for the new account.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address for the new user. This will be used as their login username and must be unique across all Firebase Authentication users."
                      },
                      "firstName": {
                        "type": "string",
                        "description": "First name of the new user."
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of the new user."
                      },
                      "phoneNumber": {
                        "type": "string",
                        "description": "Phone number of the new user. Optional field for contact purposes."
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "BUSINESS_OWNER",
                          "ADMIN",
                          "ATTENDANT"
                        ],
                        "description": "Role assignment for the new user. Determines their permissions and access level within the system. BUSINESS_OWNER and ADMIN have full company access, while ATTENDANT has limited permissions."
                      }
                    },
                    "required": [
                      "email",
                      "firstName",
                      "lastName",
                      "role"
                    ]
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully created in both Firebase Authentication and Firestore database.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The complete User document as stored in Firestore, including all auto-generated fields.",
                      "$ref": "#/components/schemas/User"
                    },
                    "status": {
                      "type": "object",
                      "description": "Status information about the creation operation.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "VALID"
                          ],
                          "description": "Indicates the operation completed successfully."
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "CREATED"
                          ],
                          "description": "Indicates a new record was created."
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable confirmation message with the document ID.",
                          "example": "Doc user_abc123 created."
                        }
                      }
                    },
                    "password": {
                      "type": "string",
                      "description": "This field is no longer returned as Firebase Auth accounts are not created by this endpoint. Users self-register via Firebase Auth.",
                      "deprecated": true
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data, missing required fields, duplicate email, or database operation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Detailed error message explaining what went wrong.",
                      "examples": [
                        "Email is required to create a user.",
                        "Role is required to create a user.",
                        "Invalid role: INVALID_ROLE. Must be ATTENDANT, BUSINESS_OWNER, or ADMIN.",
                        "Failed to save user data: Invalid field value"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Authentication error message.",
                      "examples": [
                        "Authentication token (idToken) is required.",
                        "Token verification failed: invalid token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Valid token but insufficient permissions or invalid user state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Permission or authorization error message.",
                      "example": "Invalid token or missing email."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server-side error during user creation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Internal error message.",
                      "example": "Internal Server Error: Firestore connection failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createUserClient": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "createUserClient",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generate-car-details": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "generateCarDetails",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generatePINandticket": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "generatePINandticket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generateReport": {
      "post": {
        "summary": "Generates a comprehensive and dynamic set of reports for any specified data model.",
        "description": "This powerful endpoint provides a one-stop solution for data analysis and visualization. By specifying a model name (e.g., 'Ticket', 'User'), the system introspects the model's schema and automatically generates multiple report variations. This includes a full data dump, a high-level summary, and various permutations that aggregate data based on different fields. It's designed to be the backbone for dashboards, data exports, and business intelligence tasks. The first request for a new model may be slower as the report structures are analyzed and cached; subsequent requests will be significantly faster.",
        "operationId": "generateReportHandler",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "modelName": {
                        "type": "string",
                        "description": "The exact, case-sensitive name of the data model you wish to generate reports for. The model must be defined in the system's schemas.",
                        "examples": [
                          "Ticket",
                          "User",
                          "Location",
                          "TipTransaction"
                        ]
                      }
                    },
                    "required": [
                      "modelName"
                    ]
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A dynamically generated array of report objects, each tailored to a different analytical perspective. The array always begins with a 'Full Data Report', followed by a 'Summary Report', and then all other calculated permutations.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The descriptive title of the specific report, indicating its content and perspective.",
                        "example": "Summary Report for Tickets by Status"
                      },
                      "type": {
                        "type": "string",
                        "description": "The classification of the report, indicating its structure and purpose.",
                        "enum": [
                          "full",
                          "summary",
                          "permutation"
                        ],
                        "example": "summary"
                      },
                      "headers": {
                        "type": "array",
                        "description": "An ordered array of strings representing the column headers for the report's data table.",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "Status",
                          "Total Tickets",
                          "Average Tip"
                        ]
                      },
                      "rows": {
                        "type": "array",
                        "description": "An array of data rows. Each row is itself an array of values, ordered to correspond with the 'headers'. All values are returned as strings to ensure type consistency.",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "title",
                      "type",
                      "headers",
                      "rows"
                    ]
                  },
                  "example": [
                    {
                      "title": "Full Data Report for Tickets",
                      "type": "full",
                      "headers": [
                        "ID",
                        "Ticket Number",
                        "Status",
                        "Tip Amount",
                        "Attendant Name"
                      ],
                      "rows": [
                        [
                          "tkt_123",
                          "A-001",
                          "Complete",
                          "5.00",
                          "John D."
                        ],
                        [
                          "tkt_124",
                          "A-002",
                          "Parked",
                          "0.00",
                          "Jane S."
                        ],
                        [
                          "tkt_125",
                          "A-003",
                          "Complete",
                          "10.00",
                          "John D."
                        ]
                      ]
                    },
                    {
                      "title": "Summary Report for Tickets",
                      "type": "summary",
                      "headers": [
                        "Metric",
                        "Value"
                      ],
                      "rows": [
                        [
                          "Total Tickets",
                          "3"
                        ],
                        [
                          "Total Tips",
                          "15.00"
                        ],
                        [
                          "Average Tip",
                          "7.50"
                        ]
                      ]
                    },
                    {
                      "title": "Tickets by Status",
                      "type": "permutation",
                      "headers": [
                        "Status",
                        "Count"
                      ],
                      "rows": [
                        [
                          "Complete",
                          "2"
                        ],
                        [
                          "Parked",
                          "1"
                        ]
                      ]
                    },
                    {
                      "title": "Tips by Attendant",
                      "type": "permutation",
                      "headers": [
                        "Attendant Name",
                        "Total Tips",
                        "Average Tip"
                      ],
                      "rows": [
                        [
                          "John D.",
                          "15.00",
                          "7.50"
                        ],
                        [
                          "Jane S.",
                          "0.00",
                          "0.00"
                        ]
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/get-enum": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getEnumForProperty",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAttendants": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getAttendantsForCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAttendantsForAdmin": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getAttendantsForAdmin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAttendantsForCompany": {
      "post": {
        "summary": "Retrieves a list of all attendants for the company of the calling user.",
        "description": "",
        "operationId": "getAttendantsForCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getBusinessProfile": {
      "post": {
        "summary": "Retrieves the combined business and user profile for the authenticated user.",
        "description": "This endpoint is designed for ADMIN or BUSINESS_OWNER roles. It fetches the user's profile, which is pre-enriched with their associated company data, providing a complete business context in a single call.",
        "operationId": "getBusinessProfile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {},
                    "required": []
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The combined User and Company profile for the authenticated user.",
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getCompany": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getCompanyDetailsForAdmin": {
      "post": {
        "summary": "Retrieves the full business profile for the admin's company.",
        "description": "This endpoint is for administrators and business owners to fetch their own company's complete profile, including all nested and referenced data.",
        "operationId": "getCompanyDetailsForAdmin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {},
                    "required": []
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The fully enriched Company object.",
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getLatestTicket": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getLatestTicket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getLocationsForCompany": {
      "post": {
        "summary": "Retrieves all locations associated with the user's company.",
        "description": "",
        "operationId": "getLocationsForCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getLocationsForCompanyForAdmin": {
      "post": {
        "summary": "Retrieves all locations for the admin's company, with fully enriched data.",
        "description": "",
        "operationId": "getLocationsForCompanyForAdmin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getSumTipsForAdmin": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getSumTipsForAdmin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getSumTipsForAdminPerAttendant": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getSumTipsForAdminPerAttendant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getTicketByPIN": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getTicketByPIN",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getTicketList": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getTicketList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getTicketListForAdmin": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getTicketListForAdmin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getTipsForAdmin": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getTipsForAdmin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getUser": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getUserByEmail": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getUserByEmail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getUserProfileByEmail": {
      "post": {
        "summary": "No description available",
        "description": "",
        "operationId": "getUserProfileByEmail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "description": "Generic payload for the endpoint."
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getUsersForCompany": {
      "post": {
        "summary": "Retrieves all users for the admin's company.",
        "description": "Fetches a list of all users associated with the company of the authenticated administrator or business owner.",
        "operationId": "getUsersForCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string",
                    "description": "Firebase authentication token."
                  },
                  "data": {
                    "type": "object",
                    "properties": {},
                    "required": []
                  }
                },
                "required": [
                  "idToken",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "An array of User objects.",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
[...]
